
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display:block;
    position: relative;
    height: 100%;
    margin: 60px 0 0 0;
    flex-direction: column;
  }

  .column-left {
    float: left;
    width: 15%;
    height: 100%;
    background-color:cadetblue;
  }
  .column-right {
    float: right;
    width: 85%;
    height: 100%;
    background-color:cornsilk;
  }

  .title {
    padding-left: 5%;
    padding-top: 2%;
  }

  .card-container {
    position:relative;
  }

  .cards {
    margin: 10px;
    padding: 10px;

  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p style="padding-left: 50px;">Menu</p>
</div>


<!-- Main Content-->
<div class="content" role="main">

  <div class="column-left">
    <h2 class="title">
      Filters
    </h2>
    <mat-checkbox style="display: block;">
      Here
  </mat-checkbox>
  <mat-checkbox  style="display: block;">
    Are
  </mat-checkbox>
  <mat-checkbox  style="display: block;">
    Choices
  </mat-checkbox>
  </div>

  <div class="column-right" style="overflow-y: scroll;">
    <h2 class="title"> Headsets</h2>
    <div class="card-container">
      <mat-card class="cards">
        <mat-card-title>Set 1</mat-card-title>
        <mat-card-content>
          <table>
            <img src="\assets\th-4276337252.jpg">
          </table>
          
          <p>Description</p>
      
          <a> Link to headset</a>
        </mat-card-content>
      </mat-card>

      <mat-card class="cards">
        <mat-card-title>Set 1</mat-card-title>
        <mat-card-content>
          <table>
            <img src="\assets\th-4276337252.jpg">
          </table>
          
          <p>Description</p>
      
          <a> Link to headset</a>
        </mat-card-content>
      </mat-card>

      <mat-card class="cards">
        <mat-card-title>Set 1</mat-card-title>
        <mat-card-content>
          <table>
            <img src="\assets\th-4276337252.jpg">
          </table>
          
          <p>Description</p>
      
          <a> Link to headset</a>
        </mat-card-content>
      </mat-card>

      
  
    </div>
  </div>

</div>

<router-outlet></router-outlet>
